body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.card.visa {
  background-image: url(../img/card-visa.gif);
}

.card.master {
  background-image: url(../img/card-mastercard.gif);
}

.card.amex {
  background-image: url(../img/card-amex.gif);
}

.card.mir {
  background-image: url(../img/mir.gif);
}

.card {
  float: left;
  width: 39px;
  height: 25px;
  text-indent: -9999px;
  background-position: 0 0;
  margin-right: 4px;
}

.card.cdisabled {
  background-position: 0 -25px;
  opacity: .3;
}

.cards {
  margin: 10px 0;
  height: 25px;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.row {
  float: left;
}

#submitform {
  margin-left: 10px;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-control {
  display: block;
  width: 100%;
  height: 22px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.invalid {
  border: 2px solid rgb(235, 25, 25);
}

.valid {
  border: 2px solid rgb(116, 211, 8);
}